In [ ]:
import pandas as pd

#Series: é uma lista, mas diferente de vetores e arrays pq aceita customização de índices
# Criar series através do comando pd.series

s = pd.Series([10, 20, 30, 40, 50])
print(s)
print(s[2])

print(pd.Series([range(7)]))

s1 = pd.Series(True, ['a', 'b', '99'])
print(s1['b'])

0    10
1    20
2    30
3    40
4    50
dtype: int64
30
0    (0, 1, 2, 3, 4, 5, 6)
dtype: object
True

In [ ]:
# Funções count mean min man mediana

s = pd.Series([10, 20, 30, 40, 50])

mediana = s.median()
max = s.max()
min = s.min()

print(s.describe())

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

In [ ]:
# DataFrame => Series com duas colunas

#DataFrame é um dicioário, chaves são as colunas e os valores são as listas

dici1 = {'Estado':['Amazonas', 'Amapá', 'Acre'], 'Capital':['Manaus', 'Macapá', 'Rio Branco'], 'População':[4439284, 3909093, 2310391]}
index=(['AM', 'AP', 'AC'])
pd.DataFrame(dici1)
#dici1['População'].describe()

     Estado     Capital  População
0  Amazonas      Manaus    4439284
1     Amapá      Macapá    3909093
2      Acre  Rio Branco    2310391

In [ ]:
from datetime import datetime